p {
  font-family: var(--clickable-font);
  letter-spacing: .1vw;
  text-wrap: pretty;
  text-align: center;
}

.favorites-section {
  background-color: var(--favorite-bg);
  border-radius: 5px;
  margin-top: 5vw;
}

.favorites-title {
  display: flex;
  justify-content: center;
  padding: 1vw;
  font-family: var(--clickable-font);
  font-size: max(16px, 4vw);
  color: var(--primary-color);
}

.wrapper-for-bottom-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actual-line {
  display: flex;
  width: 83vw;
  border: black solid;
}

.media-gallery {
  margin-top: 1vw;
}

.media-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  border: 1px solid var(--white);
  border-radius: 5px;
  margin: .5vw;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.5);
}

.date-taken {
  color: var(--primary-color);
}

.single-thumnail {
  height: 25vh;
  width: auto;
}
