.favorites-section {
  background-color: var(--favorite-bg);
  border-radius: 5px;
  margin-top: 5vw;
}
.favorites-title {
  padding: 1vw;
  font-size: max(16px, 4vw);
}

.media-item {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  border: 1px solid var(--white);
  border-radius: 5px;
  margin: .5vw;
  object-fit: contain;

  a {
    display: flex;
    width: 100%;
    height: 85%;
    object-fit: contain;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.single-thumnail {
  height: 25vh;
  width: auto;
}
