
.favorites-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--favorite-bg);
  border-radius: 5px;
  margin: 1.5rem;
}

.favorites-title {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-size: max(16px, 4vw);
  color: var(--primary-color);
}

.wrapper-for-bottom-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-actual-line {
  display: flex;
  width: 83vw;
  border: black solid;
  justify-content: center;
}

.favorites-media-gallery {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 33.3fr 33.3fr 33.3fr;
  grid-template-rows: auto;
  justify-items: center;
}

.favorites-media-item {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid var(--white);
  border-radius: 5px;
  margin: .5vw;
  object-fit: contain;
  background-color: var(--grid-bg);
}

.favorites-media-item-title {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: .5rem;
}

.favorites-media-item-date {
  margin: 1rem
}

.favorites-date-taken-label {
  color: var(--primary-color);
}

.favorites-date-taken {
  color: white;
}

.favorites-single-thumbnail {
  height: max(100%);
  width: min(100%);
}

.favorites-remove-button {
  color: var(--black);
  font-weight: 700;
  background-color: var(--tertiary-color);
  padding: 1vw;
  border: 1px solid white;
  border-radius: 5px;
  margin: 1.5vw;
}

/*-----------------// break points //---------------*/

@media screen and (max-width: 1220px) {
  .favorites-media-gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 830px) {
  .favorites-media-gallery {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 830px) {
  .favorites-section {
    margin: 0;
  }

  .favorites-media-gallery {
    grid-template-columns: 1fr;
  }

  .favorites-media-item {
    width: 13rem;
  }
}