.title {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

h1 {
    color: var(--primary-color);
    font-family: var(--title-font);
    font-weight: 400;
    font-style: normal;
    font-size: max(36px, 8vw);
    margin: 3px;
}

.title-question {
    font-size: max(18px, 2vw);
}

.title-directions,
.title-directions-2 {
    color: var(--secondary-color);
    font-size: max(13px, 1.5vw);
}

.title-directions-2 {
    margin-bottom: 12vh;
}