.media-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: 1.5rem;
}

.see-favorites-button {
  color: var(--black);
  font-weight: 700;
  background-color: var(--tertiary-color);
  padding: 1vw;
  border: 1px solid white;
  border-radius: 5px;
  margin: 3vw;
}

.media-gallery {
  display: grid;
  grid-template-columns: 33.3fr 33.3fr 33.3fr;
  grid-template-rows: auto;
  justify-items: center;
  margin-top: 1rem;
}

.photo-title {
  color: var(--primary-color);
  font-size: max(16px, 2vw);
}

.media-item {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  border: 1px solid var(--white);
  border-radius: 5px;
  margin: .5vw;
  object-fit: contain;
  background-color: var(--grid-bg);

  a {
    display: flex;
    width: 100%;
    height: 85%;
    object-fit: contain;

    img {
      width: 100%;
      object-fit: contain;
      border: 1px solid var(--white);
      box-shadow:
        10px 10px 10px rgba(0, 0, 0, .35),
        -10px 10px 10px rgba(0, 0, 0, .35),
        10px -10px 10px rgba(0, 0, 0, .35),
        -10px -10px 10px rgba(0, 0, 0, .35);
      background-color: var(--black);
      margin-bottom: 2rem;
    }
  }
}

.single-thumnail {
  height: 25vh;
  width: auto;
}

.favorites-radio-button-parent {
  display: flex;
}

.radio-button {
  width: 3vw;
  accent-color: inherit;
}

/*-----------------// break points //---------------*/


@media screen and (max-width: 1220px) {
  .media-gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 830px) {
  .media-gallery {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 830px) {
  .media-section {
    margin: 0;
  }

  .media-gallery {
    grid-template-columns: 1fr;
  }

  .media-item {
    width: 13rem;
  }
}