:root {
  --white: #FFFFFF;
  --black: #000000;
  --primary-color: #D9843B;
  --secondary-color: #18D79F;
  --tertiary-color: #C1D8C3;
  --favorite-bg: #504f59;
  --grid-bg: #28272C;
  
  --primary-font: "Open Sans", sans-serif;
  --title-font: "Protest Guerrilla", sans-serif;
  --clickable-font: "Orbitron", sans-serif;

  --mars-width: max(330px, 75vw);
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    cursor: pointer;
  }
}