.interactive-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------------// Mars //------------------------*/

.mars-parent-container {
    width: 100vw;
    position: relative;
}

.clickable-mars-title {
    font-family: var(--clickable-font);
    font-size: 6vw;
    margin: 0;
    position: absolute;
    right: 9%;
    top: 2%;
}

.hover-text-mars-title {
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    position: absolute; 
    right: 9%; 
    top: 90%;
    font-family: var(--clickable-font);
    font-size: 2vw;
    margin: 0;
}

.clickable-mars-title:hover .hover-text-mars-title {
    visibility: visible; /* Show the extra text on hover */
    opacity: 1; /* Fade in the text */
}

.main-mars-image {
    width: max(330px, 75vw);
    height: auto;
    aspect-ratio: 1 / 1;
    /* margin: 12vh auto 20vw 0; */
    margin: 12vh auto 0 ;
    margin-top: 5vh;
    display: block;
    object-position: center;
}

/*-----------------------// rover //------------------------*/

.clickalbe-rover {
    width: 15vw;
    position: absolute;
    top: 34%;
    left: 37%;
}


/*-------------------// Moons //-----------------------*/

.moons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* position: relative;
    top: -8vh; */
    /* border: 2px solid cyan; */
}

.moons-and-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}




.moon-titles {
    font-family: var(--clickable-font);
    font-size: 4vw;
}

.clickable-phobos-moon {
    width: max(110px, 27vw);
    height: auto;
    margin-left: 2vw;
}

.clickable-deimos-moon {
    width: max(110px, 27vw);
    height: auto;
}

/*---------------------// Hover //--------------------*/

/* .square {
    width: 100px;
    height: 100px;
    background-color: red;
} */